#card-body {
  visibility: hidden;
  display: none;
}

.screen-view {
  visibility: visible;
  display: block;
  background-image: url(../images/head_image2.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
  color: white;
  align-items: center;
  align-content: center;
  text-align: right;
  margin-left: auto;
}

.screen-view h2 {
  align-self: center;
  font-size: 50px;
  margin-right: 10vw;

}

@media only screen and (max-width: 600px) {
  .screen-view {
    visibility: hidden;
    display: none;
  }

  #card-body {
    visibility: visible;
    display: block;
    height: 100vh;
  }

  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    background-repeat: no-repeat;
    background-size: auto;
    height: 100vh;
  }

  .card {
    background: rgb(98,107,112);
    background: linear-gradient(335deg, rgba(98,107,112,1) 45%, rgba(62,226,198,1) 55%, rgba(255,255,255,1) 64%);
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .section {
    color: #fff;
    text-align: center;
    padding: 2px;
  }

  .section h1 {
      color: #3EE2C6;
  }

  .logo {
    width: auto;
    height: 7vh;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50px;
    padding: 5px;
    border: 1px solid #80B7DC;

  }

  #svedent-logo {
    width: 23vw;
    background-color: #ffffff;
  }

  .profile {
    text-align: center;
    padding: 20px;
  }

  .profile-image {
    width: 100%;
    height: auto;
    max-width: 50vw;
    border-radius: 50%;
  }

  .content {
    text-align: center;
    font-size: 5vw;
    padding: 20px;
  }

  .content h2 {
    margin: 10px 0;
  }

  a {
    text-decoration: none;
  }

  a:link {
    color: #ffffff;
  }

  a:visited {
    color: #ffffff;
  }

  a:hover {
    color: #ffffff;
  }

  .phone-button {
    background-color: #ffffff;
    color: #006FBA !;
    border: none;
    border-radius: 40px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border-collapse: separate;
    border: 1px solid #80B7DC;
  }

  #phone-text {
    color: #006FBA;
    font-size: 20px;
    font-weight: bold;
  }
}